body {
  font-family: "Montserrat", sans-serif;
  font-size: $textN;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.main {
  height: 92vh;
  padding: 50px 15px 15px 15px;
}
.table {
  width: 0;
  margin: 20%;
}
td {
  text-align: center;
}
